<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <br> <br>
    {{ message }}
  </h1>
  <h1> Router Components </h1>
  <nav>
    <a routerLink="/departments" routerLinkActive="active"> Departments </a>
    ||
    <a routerLink="/members"     routerLinkActive="active"> Members </a>
  </nav>
  <router-outlet></router-outlet>
  <hr>
  <app-test (childEvent)="message=$event" [parentData]="firstname"></app-test>
</div>



